---
import './HeroBanner.css';
---

<section class="banner">
  <div class="background"></div>
  <div class="overlay overlay-green"></div>
  <div class="overlay overlay-orange"></div>
  <div class="overlay overlay-teal"></div>
</section>
